.controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px auto;

  > div:not(:last-of-type) {
    $space: 20px;
    margin-right: $space;

    &:after {
      content: "|";
      margin-left: $space;
    }
  }

  label {
    margin-right: 5px;
  }

  select {
    padding: 3px;
  }
}

.page-limit {
  background-color: blue;
}

.page-limit-option {
  background-color: red;
}
